.item {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.186);
}
.item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.content {
  position: relative;
  width: 100%;
  padding: 20px;
}

.btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
